<tui-root>

  <!--NavBar-->
  <div tuiMode="onDark">
    <tui-tabs class=" toolbar; dark" [(activeItemIndex)]="activeItemIndex">
      <button tuiTab routerLink="" routerLinkActive="tui-text_h6" style="margin-left: 2rem">
        Home
      </button>
      <button tuiTab routerLink="/schemas" routerLinkActive="tui-text_h6">
        Maket
      </button>
      <button routerLink="/reg" routerLinkActive="tui-text_h6" tuiTab>
        Exit
      </button>
      <button tuiTab routerLink="/profile" class="acc-avatar">
        <tui-avatar
          size="m">99+
        </tui-avatar>
      </button>
    </tui-tabs>
  </div>

<main class="main">
  <div class="content">
    <div class="bg-content">

    </div>
  </div>
</main>


<router-outlet></router-outlet>

</tui-root>
